body {
	margin-left: auto;
	margin-right: auto;
	padding: 10;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #444;
	justify-content: center;
	line-height: 1.6;
}
.settings {
	border: 1px solid grey;
}
.content {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}
.img-wrap {
	display: block;
}
img {
	border: 1px solid darkgrey;
	box-shadow: 2px 4px lightgrey;
	display: flex;
	justify-content: center;
	width: 60%;
}



